@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  height: 100%;
}

body {
  background-color: #f9fafb;
  background-image: radial-gradient(circle, #d1d5db 1px, transparent 1.5px);
  background-size: 22px 22px;
  background-position: 0 0;
}
